.cardlist {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-gap: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  z-index: -1;
}

.card {
  width: 100px;
  margin: 50px 10px 10px 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  cursor: pointer;
  transition: transform 2s;
  transform-style: preserve-3d;
  z-index: 99;
}
.front,
.back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
